body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("header.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
	color: #AA3C39;
	font-size: 2.5rem;
	text-align: center;
}

.buffer {
	height: 4rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #AA3C39;
	border: #AA3C39;
	box-shadow: 2px 3px 5px 0px #0E0303;
	transition: all 0.5s;
}

.btn-primary:hover {
	transform: scale(1.2);
	background-color: #5C1B19;
}

.btn-xl {
	padding: 1rem 2rem;
}